/* Home games carousel */
/* Base outline while hovered */
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus
{
    outline: 2px solid var(--flangrande-base-highlight-color);
    animation: 
        appportrait_growOutline_3wk3d .4s ease,
        appportrait_fadeOutline_1FLuV 1.4s ease,
        appportrait_blinker_2tSbN 1.2s ease-in-out .4s 20;
}

/* Everywhere else */
.focusring_FocusRing_1IZrQ {
    outline: 2px solid var(--flangrande-base-highlight-color);
    animation: focusring_flash_1YTKZ .5s ease,focusring_growOutline_Z3LxS .4s ease,focusring_fadeOutline_2hZu3 .4s ease,focusring_blinker_3wFMM 1.2s ease-in-out .4s 20
}

.BasicUI .appportrait_LibraryItemBox_WYgDg:focus::after {
    animation-name:appportrait_focusAnimation_8N-VO;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    transition:opacity .3s cubic-bezier(0.17, 0.45, 0.14, 0.83);
    background-position: -30% 0%;
    opacity: 0.8;
}